#Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^times$ /index.php
RewriteRule ^qibla$ /qibla.php
RewriteRule ^settings$ /settings.php